--- 
title: projects
---

{% extends 'layouts/base.njk' %}

{# Intro content #}

{% set introHeading %}Posts{% endset %}

{% block content %}
  <div class="l-stack l-stack--large l-stack--large">
    {% include "partials/intro.njk" %}
  </div>
  {{ content | safe }}
{% endblock %}