<footer role="contentinfo">
  <div class="theme-secondary theme-bg theme-color">
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-footer-nav">
          {% set navLocation = 'footer' %}
          {% include "partials/nav.njk" %}
        </div>
        <br />
        <p class="powered-by">made by {{site.authorName}} with 11ty and ❤︎</p>
      </div>
    </div>
  </div>
</footer>